SAMBANOVA_API_KEY=YOUR_SAMBANOVA_API_KEY_HERE

CEREBRAS_API_KEY=YOUR_CEREBRAS_API_KEY_HERE

GITHUB_TOKEN=YOUR_GITHUB_TOKEN_HERE

GROQ_API_KEY=YOUR_GROQ_API_KEY_HERE

ARLIAI_API_KEY=YOUR_ARLIAI_API_KEY_HERE

CLOUDFLARE_API_KEY=YOUR_CLOUDFLARE_API_KEY_HERE

CLOUDFLARE_ACCOUNT_ID=YOUR_CLOUDFLARE_ACCOUNT_ID_HERE

GOOGLE_API_KEY=YOUR_GOOGLE_API_KEY_HERE

MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY_HERE

COHERE_API_KEY=YOUR_COHERE_API_KEY_HERE

LLM7_API_KEY=YOUR_LLM7_API_KEY_HERE
HF_API_KEY=YOUR_HF_API_KEY_HERE
ZHIPU_API_KEY=YOUR_ZHIPU_API_KEY_HERE
PUTER_API_KEY=YOUR_PUTER_API_KEY_HERE
POLLINATIONS_API_KEY=YOUR_POLLINATIONS_API_KEY_HERE

# --- SYSTEM SETTINGS ---
LOG_LEVEL=YOUR_LOG_LEVEL_HERE
WATCH_DIRECTORY=YOUR_WATCH_DIRECTORY_HERE
ADMIN_BOT_TOKEN=YOUR_ADMIN_BOT_TOKEN_HERE
STUDENT_BOT_TOKEN=YOUR_STUDENT_BOT_TOKEN_HERE

# --- INTERNAL STAFF DIRECTORY (Chat IDs) ---
ADMIN_CHAT_ID=YOUR_ADMIN_CHAT_ID_HERE
HOD_CIVIL_CHAT_ID=YOUR_HOD_CIVIL_CHAT_ID_HERE
BANK_MANAGER_CHAT_ID=YOUR_BANK_MANAGER_CHAT_ID_HERE